@charset "UTF-8";
/* Base Styles */

html, body{
	background-color: #130c1b;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	
}

a:link {color:#320a1e;}      /* unvisited link */
a:visited {color:#320a1e;}  /* visited link */
a:hover {color:#320a1e;}  /* mouse over link */
a:active {color:#320a1e;}  /* selected link */

/* Resets defaults for new HTML5 Elements */
main, header, footer{
	display: block;
}

img{
	border: 0;
}


/* Navigation */

.nav{
	background-color: #B79D79;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.nav ul{
	margin: 0;
	padding: 0;
}

.nav li{
	padding: 1em;
	display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited{
	font-weight: bold;
	color: #320a1e;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(50,9,30, 0);
	
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.nav a:hover,
.nav a:active,
.nav a:focus{
	border-bottom: 1px solid rgba(50,9,30, 0.3);
}



.h1{ 
/* Class for H1 Styles since there should only be one H1 on a page */
	color: #d6c2b1;
	font-size: 20px;
	font-weight:100;
	letter-spacing: 3px;
	line-height: 10px;
	padding-bottom:20px;
}
	
h2{ 
	color: #d6c2b1;
	font-size: 15px;
	font-weight:100;
	letter-spacing: 1px;
}
	
h3{ 
	color: #d6c2b1;
	font-size: 28px;
	font-weight:100;
	letter-spacing: 1px;
	line-height:40px;
	margin-top:-10px;
	margin-bottom:-10px;
}

	
h4{
	color: #500128;
	font-size: 30px;
	font-weight:1000px;
	letter-spacing: 1px;
	margin-top:10px;
	margin-bottom:-10px;
	padding-bottom: 10px;
}

h5{
	color: #500128;
	font-size: 15px;
	font-weight:500px;
	letter-spacing: 1px;
	margin-top:10px;
	margin-bottom:-10px;
	padding-bottom: 10px;
}
	
	
p{
	color:  #130c1b;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin:0;
	padding-top: 20px;
}

p.italic {font-style:italic;}

body{
	margin-left: auto;
	margin-right: auto;
	background-color: #130c1b;
	display: block;
	margin-top: 0px;
	padding-bottom: 100px;
}

.container{
	text-align: center;
	overflow: auto;
	padding: 70px 0 100px;
}

/* Container for Logo and Logo */

.wrapper{ 
	display:block;
	width: 100%;
	background-color: #320a1e;
	height: 310px;
}

.logo{
	padding-top: 20px;
}

/* Explaination Text */

.paragraph{	
	display:block;
	padding-top: 30px;
}

/* Social Stuff */

.social img{
	padding-top:30px;
	padding-right: 40px;
}

.social {
	padding-bottom: 40px;
}

/* Container for Columns */

.burgundy-bg{
	width: 100%;
	background-color: #320a1e;
	padding-top:60px;
	padding-bottom:60px;

}

.beige-box{
	width: 900px;
	margin: 0 auto;
	overflow: auto;
	-webkit-border-radius:30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
	background-color: #B79D79;
}

.blue-bg{
	padding-top:60px;
	padding-bottom:60px;
}

/* Columns */
.col{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	padding: 20px 50px 30px;
	width: 50%;
}

.left{
	float: left;
}

.right{
	float: right;
	padding-top: 65px;
}
	
/* About and Contact Sections */

.about{
	background-color: #B79D79;
	min-height: 600px;
	
}

.access{
	background-color: #B79D79;
	min-height: 600px;
	
}

.bread{
	min-height: 105px;
	
}

.coffee{
	min-height: 105px;
	
}


.contact{
	background-color: #B79D79;
	min-height: 735px;
}

/* Address and Map */

address{
	font-family: 'Raleway', sans-serif;
	color:  #130c1b;
	font-size: 15px;
	line-height: 20px;
	font-weight: 3100px;
	letter-spacing: 1px;
	margin-top: 20px;
}

iframe{
	width: 100%;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	margin-top: 20px;
	border: 3px solid green;
}



